<body>
  <h1>
    Welcome to the github user search enginge. <br />
    This application will allow you to seach for users as well as repositories
    on github.</h1> <br /><br />

    <h1>PLEASE SELECT WHAT YOU WISH TO SEARCH FOR:</h1>
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" >
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="user_info" [(ngModel)]="radio.userInfo" (change)="onRadioSelected($event)"> User
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="user_repository" [(ngModel)]="radio.usersRepos" (change)="onRadioSelected($event)"> Repositories
      </label>
    </div>

    <h1>SEARCH FOR USER AND REPOSITORIES HERE
  </h1>

  <div class="input-group input-group-lg">
    <input
      #gitSearch
      type="text"
      class="form-control"
      aria-label="Sizing example inut"
      aria-describedby="inputGroup-sizing-lg"
    />
    <button
      ngbButton
      class="btn btn-outline-secondary"
      (click)="searchGithub(gitSearch.value)"
      type="button"
    >
      Search
    </button>
  </div>
  <div class="output" *ngIf="userInfo && userInfo.login; then userinfo else null"></div>
  <ng-template #userinfo>
    <img src="{{userInfo.avatar_url}}" alt="">
    <h2>{{ userInfo.name || userInfo.login }}</h2>
    <p>{{userInfo.bio}}</p>
    <p>Followers: {{userInfo.followers}} <span>Following: {{userInfo.following}}</span></p>
    <p>Repositories: {{userInfo.public_repos}}</p>

  </ng-template>
  
</body>
